<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.1/js/bootcards.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootcards/1.1.1/css/bootcards-desktop.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet"/>

<style> 
a.list-group-item:before {
  content: '';
}

.list-group-item {
  margin-left: 0px;
  padding-left: 15px;
}

.list-group-item .row > div.col-sm-5 {
  margin-left: 10px;
}

.list-group-item .row > div.col-sm-6 {
  margin-left: -10px;
}

.panel-title {
  margin-top: 13px;
  margin-right: 7px;
}

.list-group-item-heading,
.list-group-item-text {
  padding-left: 3px;
}



@media only screen and (max-width: 767px) {
  .list-group-item .row > div.col-sm-5 {
    margin-left: 0px;
    padding-left: 5px;
  }
  .list-group-item-heading {
    margin-top: 3px;
  }
  
  .mobile-back-btn {
    display: block;
    margin-bottom: 15px;
  }
  
  .companies-panel {
    display: none;
  }
  
  .list-panel {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 911px) {
  #search {
    padding-left: 0px;
  }
  
  .mobile-back-btn {
    display: none;
  }
  
  .companies-panel {
    display: block;
  }
  
  .list-panel {
    display: block;
  }
}

@media (min-width: 912px) {
  .mobile-back-btn {
    display: none;
  }
  
  .companies-panel {
    display: block;
  }
  
  .list-panel {
    display: block;
  }
}

.mobile-back-btn {
  margin-bottom: 15px;
}
</style>

<div ng-app="companyApp" ng-controller="companyController" class="container">
  <div class="row">
    <div class="bootcards-list col-sm-6 list-panel">
      <div class="panel panel-default">
        <div class="panel-body">
          <form>
            <div class="row">
              <div class="col-xs-9">
                <div class="form-group">
                  <input type="text" class="form-control" placeholder="Search Companies" ng-model="searchQuery">
                  <i class="fa fa-search"></i>
                </div>
              </div>
              <div class="col-xs-3">
                <a class="btn btn-primary btn-block" id="search" href="#">
                  Search
                </a>
              </div>
            </div>
          </form>
        </div>
        <div class="list-group">
          <a class="list-group-item" href="#" ng-repeat="company in companies | filter:searchQuery" ng-click="showCompany(company.name, $event)">
            <div class="row">
              <div class="col-sm-1">
                <img style="border-radius: 50%;" ng-src="{{company.photo}}">
              </div>
              <div class="col-sm-5">
                <h4 class="list-group-item-heading">{{company.name}}</h4>
                <p class="list-group-item-text">{{company.status}}</p>
              </div>
              <div class="col-sm-6">
                <p class="list-group-item-text">{{company.level}}</p>
                <p class="list-group-item-text">{{company.classtime}}</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 companies-panel" >
      <button class="btn btn-default mobile-back-btn" ng-click="backToList()">
        <i class="fa fa-arrow-left"></i> Back to List
      </button>
      
      <div class="panel panel-default company-detail" ng-repeat="company in companies" ng-if="selectedCompany == company.name">
        <div class="panel-heading clearfix">
          <img class="pull-left" style="border-radius: 50%; width: 35px; height: 35px; margin-top: 4px; margin-right: 10px;" ng-src="{{company.photo}}">
          <h3 class="panel-title pull-left">{{company.name}}</h3>
          <a class="btn btn-primary pull-right" href="#">
            <i class="fa fa-pencil"></i> Edit
          </a>
        </div>
        <div class="list-group">
          <div class="list-group-item">
            <p class="list-group-item-text">Industry</p>
            <h4 class="list-group-item-heading">{{company.status}}</h4>
          </div>
          <div class="list-group-item">
            <p class="list-group-item-text">Headquarters</p>
            <h4 class="list-group-item-heading">{{company.level}}</h4>
          </div>
          <div class="list-group-item">
            <p class="list-group-item-text">{{company.classtime}}</p>
          </div>
          <div class="list-group-item">
            <p class="list-group-item-text">Revenue</p>
            <h4 class="list-group-item-heading">{{company.level}}</h4>
          </div>
        </div>
        <div class="panel-footer">
          <small>{{company.name}}</small>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
angular.module('companyApp', [])
  .controller('companyController', ['$http', '$scope', function($http, $scope) {

    $scope.companies = [];
//  $scope.orderList = 'name';

   var requestData = {
                action: "getAdminData",
                token: "U2FsdGVkX18LC0oGisKqGLC5uGXpU9h3zw8tJYi5QZDfYwdF32/rwVQsfq3hqkBE"
     //localStorage.getItem('ADtoken')
              };

              var config = {
                headers: {
                  "Content-Type": "text/plain;charset=utf-8"
                },
                followRedirects: true
              };
   
  $http.post('https://script.google.com/macros/s/AKfycbxXD35z5FSf_m_dwBt5qcBwWq2L7IDc7KBrYGfix6hUa4kvJ1TFpjU82NltFXezUroGgQ/exec', requestData, config)
    .then(function(response) { 
      $scope.companies = response.data.students;
  //  $scope.filterByHour();
  /* $scope.students.forEach(function(student) {
     student.modalState = { isModalOpen1: false, isModalOpen2: false, isModalOpen3: false};
     student.statusColor = student.status === "ACTIVO" ? "green" : "red";
        });*/
  });
  
  
  
    
    $scope.selectedCompany = '';
    
    $scope.showCompany = function(companyId, event) {
      event.preventDefault();
      $scope.selectedCompany = companyId;
      
      // For mobile view
      if (window.innerWidth <= 767) {
        document.querySelector('.list-panel').style.display = 'none';
        document.querySelector('.companies-panel').style.display = 'block';
      }
    };
    
    $scope.backToList = function() {
      // For mobile view
      if (window.innerWidth <= 767) {
        document.querySelector('.list-panel').style.display = 'block';
        document.querySelector('.companies-panel').style.display = 'none';
      }
    };
    
    // Handle window resize
    window.onresize = function() {
      if (window.innerWidth > 767) {
        document.querySelector('.list-panel').style.display = 'block';
        document.querySelector('.companies-panel').style.display = 'block';
      } else if ($scope.selectedCompany) {
        document.querySelector('.list-panel').style.display = 'none';
        document.querySelector('.companies-panel').style.display = 'block';
      } else {
        document.querySelector('.list-panel').style.display = 'block';
        document.querySelector('.companies-panel').style.display = 'none';
      }
    };
  }]);
</script>
