<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>
 <link href="https://cdn.jsdelivr.net/npm/remixicon@3.7.0/fonts/remixicon.css" rel="stylesheet"/>


<style>
   body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h1 {
  text-align: center;
}
  .container{
    max-width: 720px;
  }
.row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.photo {
  border-radius: 45px;

  width: 90px;
  height: 90px;
}
.attend{
    width: 186px;
 }
.outside{
  margin-top: -10px;
  width: 80px;
  display: flex;
}
.outside button{  
  margin: 0 2px;
}
.inside{
  margin-top: 15px;
  width: 80px;
  display: flex;
}
.inside button{  
  margin: 0 2px;
}
.form-control {
  width: 30%;
  display: inline-block;
  margin-right: 10px;
}
.name {
  font-weight: 700;
}
.expertise-label {
  display: block;
  font-weight: 700;
  margin-top: 5px;
   width: 230px;
   font-size: 12px;
}
.btn-more {
  margin-top: 10px;
  width: 100%;
}
.label {
  font-weight: normal;
}
.status {
  position: absolute; 
  bottom: 60px; 
  right: 15px;
}

li {
  list-style: none; 
}

.alert-info{
  margin-top: 30px;
  padding: 10px;
  text-align: center; 
}


.radial-menu{
    z-index: 20;
		width:100px;
		height:100px;
		margin:auto;
right: -10px;
  top: 25px;
		position:absolute;
		border-radius:50%;
		display:flex;
		justify-content:center;
		align-items:center;
		cursor: pointer;
		font-size: 20px;

}

.larger-area{
	background: transparent;
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 50%;
	z-index: -2;
	transition: 1s ease;
  cursor:default;
}
.radial-menu:hover .larger-area{
	width: 230px;
	height: 230px;
	transition: 1s ease;
}
.menu-item{
    position:absolute;
    width:50px;
    height:50px;
    justify-content:center;
    align-items:center;
    z-index:19;
  display: flex;
    border-radius:50%;
		top:calc(50% - 25px);
		left: 50%;
		transform-origin: 0;
		transition: 1s ease;
		font-size: 30px;
		color: #2e2e2e;
  opacity: 0;
    visibility: hidden;
}
.radial-menu:hover .menu-item{
	top:-35px;
	left: -120px;
	transition: 1s ease;
	transform-origin: calc(60%) calc(70% + 55px);
  opacity: 1;
    visibility: visible;
}

._1{
  background-image: linear-gradient(-45deg, #c1cfff, #889AD9);
		transform:rotate(0);
}
._1:hover{
  background-image: linear-gradient(-45deg, #a8b4dc, #6a77a6);
		transition: background-image 0s;
}
._1>div{
    transform:rotate(0);
		transition: 1s ease;
}
.radial-menu:hover ._1>div{
    transform:rotate(calc(360deg));
		transition: 1s ease;
}
._2{
		background-image: linear-gradient(0deg, #fb9084, #C5685E);
		transform:rotate(-45deg);
}
._2:hover{
		background-image: linear-gradient(0deg, #c77066, #964e47);
		transition: background-image 0s;
}
._2>div{
    transform:rotate(0);
		transition: 1s ease;
}
.radial-menu:hover ._2>div{
    transform:rotate(calc(45deg + 360deg));
		transition: 1s ease;
}
._3{
		background-image: linear-gradient(-90deg, #e0f7ec, #a6d9c8);
		transform:rotate(-90deg);
}
._3:hover{
		background-image: linear-gradient(-90deg, #c3e6d1, #8ccab0);
		transition: background-image 0s;
}
._3>div{
    transform:rotate(0);
		transition: 1s ease;
}
.radial-menu:hover ._3>div{
    transform:rotate(calc(90deg + 360deg));
		transition: 1s ease;
}
._4{
		background-image: linear-gradient(135deg, #e0f7fa, #b2ebf2);
		transform:rotate(-135deg);
}
._4:hover{
	 background-image: linear-gradient(135deg, #80deea, #4dd0e1);
		transition: background-image 0s;
}
._4>div{
    transform:rotate(0);
		transition: 1s ease;
}
.radial-menu:hover ._4>div{
    transform:rotate(calc(135deg + 360deg));
		transition: 1s ease;
}
._5{
		background-image: linear-gradient(135deg, #fbf5f1, #DED5CE);
		transform:rotate(-180deg);
}
._5:hover{
		background-image: linear-gradient(135deg, #d7cec8, #9c9189);
		transition: background-image 0s;
}
._5>div{
    transform:rotate(0);
		transition: 1s ease;
}
.radial-menu:hover ._5>div{
    transform:rotate(calc(180deg + 360deg));
		transition: 1s ease;
}
._6{
		background-image: linear-gradient(45deg, #dbeaec, #90a4a6);
		transform:rotate(-225deg);
}
._6:hover{
		background-image: linear-gradient(45deg, #bfcdcf, #6f8285);
		transition: background-image 0s;
}
._6>div{
    transform:rotate(0);
		transition: 1s ease;
}
.radial-menu:hover ._6>div{
    transform:rotate(calc(225deg + 360deg));
		transition: 1s ease;
}
._7{
		background-image: linear-gradient(90deg, #fbf4f8, #DFCED8);
		transform:rotate(-270deg);
}
._7:hover{
		background-image: linear-gradient(90deg, #dcced6, #aea0a9);
		transition: background-image 0s;
}
._7>div{
    transform:rotate(0);
		transition: 1s ease;
}
.radial-menu:hover ._7>div{
    transform:rotate(calc(270deg + 360deg));
		transition: 1s ease;
}
._8 {
    background-image: linear-gradient(135deg, #e0f2e9, #b3d9c5);
    transform: rotate(-315deg);
}

._8:hover {
    background-image: linear-gradient(135deg, #a6cbb2, #749c83);
    transition: background-image 0s;
}

._8>div{
    transform:rotate(0);
		transition: 1s ease;
}
.radial-menu:hover ._8>div{
    transform:rotate(calc(315deg + 360deg));
		transition: 1s ease;
}
@keyframes rot{
    100%{transform:rotate(360deg);}
}









.modal-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 999;
}

.custom-modal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 300px; 
  text-align: center;
}

/* Estilos para el label */
.custom-label {
  display: block;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

/* Estilos para el select */
.custom-select {
  width: 100%; /* Ajusta para ocupar todo el ancho */
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px; /* Espacio entre select y botones */
}

.button-group {
  display: flex;
   justify-content: center; /* Centra los botones */
  gap: 10px;
}

.custom-button {
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
.custom-select2 {
  width: 45px; /* Ajusta el tamaño para que los select se alineen */
  padding: 5px;
  font-size: 16px;
margin-left: -20px;
  margin-bottom: 10px;
}

.custom-label2 {
  font-size: 16px;
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.form-group {
  display: flex;
  justify-content: space-between; /* Para alinear los selects en una fila */
  align-items: center;
  flex-wrap: wrap;
}

.close-btn {
  position: absolute;
  top: -50px;
  right: -20px;
  background: transparent;
  color: white;
  cursor: pointer;
  font-size: 30px;
}


.payed{
  color: green; 
  position: absolute; 
  top: 0; 
  right: 0; 
  animation: beat-fade 0.5s;
  transform: scale(2); 
}

.unpayed{
  color: red; 
  position: absolute; 
  top: 0; 
  right: 0; 
  animation: beat-fade 0.5s;
  transform: scale(2); 
}

@keyframes beat-fade {
  0%, 100% {
    opacity: 1;
    transform: scale(2);
  }
  
  50% {
    opacity: 0.5;
    transform: scale(4);
  }
}


@media only screen and (min-width: 992px) {


  .radial-menu{
     margin-right: -80px;
  }
  .radial-menu:hover .menu-item{
	left: 18px;
    top:-40px;
    transform-origin: calc(60%) calc(50% + 70px);
  }
  
  }  
  


	
.formLoader {
  overflow: hidden;
  height: 80%;
  position: fixed; /* Cambiar de absolute a fixed para que siga en el viewport */
  top: 0; /* Asegurarse que empieza desde la parte superior */
  left: 0; /* Asegurarse que empieza desde la parte izquierda */
  width: 100%; /* Asegurarse que cubre todo el ancho de la pantalla */
  min-height: 150px;
  z-index: 9999; /* Asegurarse que está por encima de otros elementos */
  display: none; /* Flexbox para centrar vertical y horizontalmente */
  justify-content: center; /* Centramos horizontalmente */
  align-items: center; /* Centramos verticalmente */
}

.formLoader ul {
  position: relative; /* Se ajusta para mantener la relación con su contenedor padre */
  z-index: 9999;
  margin: 0;
}

@keyframes preload {
  0% {
    background: #ed7c00;
    opacity: 1
  }
  50% {
    background: #fff;
    opacity: 0.5
  }
  100% {
    background: #ed7c00;
    opacity: 1
  }
}

.formLoader .formLoading {
  display: flex; /* Usar flexbox para centrar los elementos de la lista si es necesario */
  justify-content: center; /* Centramos los elementos de la lista horizontalmente */
  align-items: center; /* Centramos verticalmente */
}

.formLoader .formLoading li {
  background: #fff;
  opacity: 0.5;
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  border: 1px solid #ed7c00;
  line-height: 12px;
  padding: 0;
  position: relative;
  margin: 0 0 0 4px;
  animation: preload 1s infinite;
  top: -50%;
  border-radius: 50%;
}

.formLoader .formLoading li:first-child {
  margin-left: 0
}

.formLoader .formLoading li:nth-child(2) {
  animation-delay: .15s
}

.formLoader .formLoading li:nth-child(3) {
  animation-delay: .3s
}

.formLoader.formLoader-complete {
  opacity: 0;
  visibility: hidden;
  transition-duration: 1s
}
</style>

 <div class="formLoader">
    <ul class="formLoading">
      <li></li>
      <li></li>
      <li></li>
    </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Taller de Piano</h1>
      <h3 style="text-align: center;">Lista de alumnos</h3>
    </div>
  </div>
</div>
  <div id="students" ng-app="studentsApp" ng-controller="studentsCtrl">
<div id="users">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
    <input ng-model="query" class="search form-control" placeholder="Buscar" type="text" id="query" />   
        <br>
  <div ng-model="orderList" style="margin-top: 10px;">
     <button class="btn btn-success" ng-click="filterByHour()">
    Ahora
  </button>
     <button class="btn btn-info" ng-click="filterByDay()">
    Hoy
  </button>
  <button class="btn btn-primary" ng-click="showAllStudents()">
    Todos
  </button>
     <br><div ng-if="noStudentsMessage" class="alert alert-info">
          {{ noStudentsMessage }}
        </div>
    </div>
       
      </div>
    </div>
<br>     
        
    <li ng-repeat="student in filteredStudents | filter: { name: query } | orderBy: orderList" id="active" ng-click="$event.preventDefault();$event.stopPropagation()"> 
   
        <div class="list-group list">
          <a href="#" class="list-group-item" ng-style="{'background-color': loadingInfo.loading && loadingInfo.index === $index ? loadingInfo.loadingColor : student.statusColor}">
            

            
            
            
        <div class="col-md-10" ng-style="{'background-image': 'linear-gradient(90deg, ' + student.color + ' 10px, transparent 11px)'}">  
          
           
   <div class="radial-menu">
           <img src="{{student.photo}}" class="photo" >
     <i ng-show="student.payed" class="ri-checkbox-circle-fill payed"></i> 
     <i ng-show="student.unpayed" class="ri-close-fill unpayed"></i> 
            <div class="larger-area"></div>
            <div class="menu-item _1"><div ng-click="openModal(student, 3)"><i class="ri-calendar-check-fill"></i></div></div>
            <div class="menu-item _2"><div><i class=""></i></div></div>
            <div class="menu-item _3"><div ng-click="sendWhatsapp(student.phone)"><i class="ri-whatsapp-fill"></i></div></div>
            <div class="menu-item _4"><div ng-click="newPayment(student)"><i class="ri-money-dollar-circle-line"></i></div></div>
            <div class="menu-item _5"><div ng-click="openModal(student, 4)"><i class="ri-history-fill"></i></div></div>
            <div class="menu-item _6"><div ng-click="openModal(student, 1)"><i class="ri-list-check-2"></i></div></div>
            <div class="menu-item _7"><div ng-click="openModal(student, 2)"><i class="ri-list-check-3"></i></div></div>
        <div class="menu-item _8"><div ng-click="evaluate(student, 'all')"><i class="ri-checkbox-multiple-fill"></i></div></div>
        </div>        
       
              <h3 class="list-group-item-heading name" style="font-size: 21px;">{{student.name}}</h3> 
              <h3 class="list-group-item-text title" style="font-size: 18px; margin-top: -2px; color:{{student.color}}">{{student.level}}</h3>
          <h4 class="list-group-item-text title" style="font-size: 15px; margin-top: -2px; color: green" ng-if="student.status == 'ACTIVO'">ACTIVO</h4>
	<h4 class="list-group-item-text title" style="font-size: 15px; margin-top: -2px; color: red" ng-if="student.status != 'ACTIVO'">PAGO PENDIENTE</h4>
          <h5 class="list-group-item-text" style=" margin-top: 10px;">{{student.classtime}}</h5>
 
  <span class="label label-default expertise-label" ng-repeat="lsn in student.currentLsn" ng-click="abrirNuevaPestana(lsn.pdf);$event.preventDefault();$event.stopPropagation()" >
    {{lsn.name}} <i class="ri-close-fill" style="float: right; color: red; font-weight: 700; margin-right: -25px; margin-top: -2px; font-size: 19px;" ng-if="lsn.status == 'A corrección'"></i> <i class="ri-check-fill" style="float: right; color: green; font-weight: 700; margin-right: -25px; margin-top: -2px; font-size: 19px;" ng-if="lsn.status == 'Evaluada'"></i>
    <br>
</span> 
       
 <br>
    
            </div>    
            
            <div class="clearfix"></div>
          </a>
          
        </div>
    
     
      
    </li>
  
  </div>    
</div>
    
    
   <div class="modal-container" ng-show="currentUser.modalState.isModalOpen2">
  <div class="custom-modal">
    <div class="modal-content">
      <label for="userSelect" class="custom-label">Elige la actividad por evaluar:</label><br>
      <div class="form-row">
        <select id="userSelect" class="custom-select" ng-model="selectedType">
         <option ng-repeat="lsn in currentUser.currentLsn" value="{{lsn.name}}">
    {{lsn.name}}
  </option>
        </select>
        <div class="button-group">
          <button class="custom-button btn-secondary" style="background-color: #adb5bd" ng-click="closeModal(2)">Cerrar</button>
          <button class="custom-button btn-success" ng-click=" evaluate(currentUser, selectedType)">Evaluar</button>   
        </div>
      </div>
    </div>
  </div>
</div>
    
    
    
    
    <div class="modal-container" ng-show="currentUser.modalState.isModalOpen3">
  <div class="custom-modal">
       
    <div class="modal-content"> 
      <button class="custom-button close-btn" ng-click="closeModal(3)"><i class="ri-close-fill"></i></button>
      <label for="dateSelect" class="custom-label">Elige la fecha</label><br>
      <div class="form-row">
       <select id="dateSelect" class="custom-select" ng-model="selectedDate">
  <option ng-repeat="date in currentUser.agenda |  filter: attendanceFilter" value="{{date.title}}">
    {{returnDateFormat(date.start)}}
  </option>   
</select>

        <div class="button-group">
          
          <button class="custom-button btn-danger"  ng-click="absence(currentUser, selectedDate)">Falta</button>
          <button class="custom-button btn-success" ng-click="attendance(currentUser, selectedDate)">Asistió</button>   
        </div>
      </div>
    </div>
  </div>
</div>




	     <div class="modal-container" ng-show="currentUser.modalState.isModalOpen4">
  <div class="custom-modal">
    <div class="modal-content">
      <label for="userSelect" class="custom-label">Elige la actividad por restablecer:</label><br>
      <div class="form-row">
        <select id="userSelect" class="custom-select" ng-model="selectedType">
         <option ng-repeat="lsn in currentUser.currentLsn" value="{{lsn.name}}">
    {{lsn.name}}
  </option>
        </select>
        <div class="button-group">
          <button class="custom-button btn-secondary" style="background-color: #adb5bd" ng-click="closeModal(4)">Cerrar</button>
          <button class="custom-button btn-success" ng-click=" restore(currentUser, selectedType)">Evaluar</button>   
        </div>
      </div>
    </div>
  </div>
</div>
       
        <div class="modal-container" ng-show="currentUser.modalState.isModalOpen1">
    <div class="custom-modal">
    <div class="modal-content">
      <div class="form-group">
        <label for="nivelSelect" class="custom-label2">Nivel:</label>
        <select id="nivelSelect" class="custom-select2"  ng-model="selectedlvl">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
        </select>

        <label for="leccionSelect" class="custom-label2">Lección:</label>
        <select id="leccionSelect" class="custom-select2"  ng-model="selectedlsn">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
        </select>
      </div>
      
      <div class="button-group">
      <button class="custom-button btn-secondary" style="background-color: #adb5bd" ng-click="closeModal(1)">Cerrar</button>
          <button class="custom-button btn-success" ng-click="span(currentUser, selectedlvl, selectedlsn)">Generar</button>   
      </div>
    </div>
  </div>
    </div>  
          
    
    
    </div>
  </div>
</div>


<script>
  var studentsApp = angular.module('studentsApp', []);


studentsApp.controller('studentsCtrl', ['$http', '$scope', function($http, $scope) {
  $scope.students = [];
  $scope.orderList = 'name';

   var requestData = {
                action: "getAdminData",
                token: localStorage.getItem('ADtoken')
              };

              var config = {
                headers: {
                  "Content-Type": "text/plain;charset=utf-8"
                },
                followRedirects: true
              };
   
  $http.post('https://script.google.com/macros/s/AKfycbxXD35z5FSf_m_dwBt5qcBwWq2L7IDc7KBrYGfix6hUa4kvJ1TFpjU82NltFXezUroGgQ/exec', requestData, config)
    .then(function(response) { 
      $scope.students = response.data.students;
    $scope.filterByHour();
   $scope.students.forEach(function(student) {
     student.modalState = { isModalOpen1: false, isModalOpen2: false, isModalOpen3: false};
     student.statusColor = student.status === "ACTIVO" ? "green" : "red";
        });
  });
  
 



  $scope.abrirNuevaPestana = function(URL) {
     const regex = /\/d\/([^\/]+)\//;
    const matches = URL.match(regex);
    var id = matches ? matches[1] : null;
     var url = "https://admin.mozartacademy.mx/edit?fileId="+id
    window.open(url, '_blank');
  };
  


  //attendance, payment
    function postPay(mail) {
     var requestData = {
    action: "payment",
   mail: mail
  };

  var config = {
    headers: {
      "Content-Type": "text/plain;charset=utf-8"
    },
    followRedirects: true, 
  };
     
$http.post('https://script.google.com/macros/s/AKfycbzuRdRbf_Yy-JUEUm4E2qzvWLm6hquJNhqEGEKecOPLowyjBJU8SS_wQ57W2--XobEA/exec', requestData, config)
	    alert("Pago registrado")
   };

 $scope.newPayment = function(student) {
     var result = confirm("¿Registrar pago?");
	if (result) {
	    postPay(student.mail)
	} 
  } 


	
	
   //evaluate
    function postEvaluation(mail, type, index) {
     var requestData = {
    action: "evaluate",
       type: type,
   mail: mail
  };

  var config = {
    headers: {
      "Content-Type": "text/plain;charset=utf-8"
    },
    followRedirects: true, 
  };
     
$http.post('https://script.google.com/macros/s/AKfycbzuRdRbf_Yy-JUEUm4E2qzvWLm6hquJNhqEGEKecOPLowyjBJU8SS_wQ57W2--XobEA/exec', requestData, config)
       .then(function(response) { 
  $scope.students[index].currentLsn = response.data.newlessons
    $(".formLoader").css("display", "none");
    $("#students").css("filter", "none");
}) 
   };

   $scope.evaluate = function(selectedStudent, type) {
    $(".formLoader").css("display", "flex");
    $("#students").css("filter", "blur(2px)");
      var index = $scope.students.findIndex(function(student) {
    return student === selectedStudent;
  });
     postEvaluation(selectedStudent.mail, type, index) 
        $scope.currentUser.modalState.isModalOpen2 = false;
  } 




	   //restore
    function postRestore(mail, type, index) {
     var requestData = {
    action: "restore",
       type: type,
   mail: mail
  };

  var config = {
    headers: {
      "Content-Type": "text/plain;charset=utf-8"
    },
    followRedirects: true, 
  };
     
$http.post('https://script.google.com/macros/s/AKfycbzuRdRbf_Yy-JUEUm4E2qzvWLm6hquJNhqEGEKecOPLowyjBJU8SS_wQ57W2--XobEA/exec', requestData, config)
       .then(function(response) { 
  $scope.students[index].currentLsn = response.data.newlessons
    $(".formLoader").css("display", "none");
    $("#students").css("filter", "none");
}) 
   };

   $scope.restore = function(selectedStudent, type) {
    $(".formLoader").css("display", "flex");
    $("#students").css("filter", "blur(2px)");
      var index = $scope.students.findIndex(function(student) {
    return student === selectedStudent;
  });
     postRestore(selectedStudent.mail, type, index) 
        $scope.currentUser.modalState.isModalOpen4 = false;
  } 



	
  
   //span
    function postSpan(mail, lvl, lsn, index) {
     var requestData = {
    action: "span",
   lvl: lvl,
       lsn: lsn,
       mail: mail
  }; 
  
  var config = {
    headers: {
      "Content-Type": "text/plain;charset=utf-8"
    },
    followRedirects: true, 
  };
     
$http.post('https://script.google.com/macros/s/AKfycbzuRdRbf_Yy-JUEUm4E2qzvWLm6hquJNhqEGEKecOPLowyjBJU8SS_wQ57W2--XobEA/exec', requestData, config)
      .then(function(response) { 
  $scope.students[index].currentLsn = response.data.newlessons
	      if(lvl == 0){
		 $scope.students[index].level = "Nivel Preparatorio"
	      }else{
		 $scope.students[index].level = "Nivel "+lvl
	      } 
  $scope.students[index].blq = ""
    $scope.students[index].color = lvlColor(lvl)
	       $(".formLoader").css("display", "none");
    $("#students").css("filter", "none");
}) 
   };
  
  function lvlColor(lvl){
    if(lvl == 0){
      return "#ff0404"
    }else if(lvl == 1){
      return "#9024dc" 
    }else if(lvl == 2){
        return "#1894cc" 
    }else if(lvl == 3){
        return "#489454" 
    }else if(lvl == 4){
        return "#f0ac14" 
    }else if(lvl == 5){
        return "#485cb4" 
    }
  }
  

   $scope.span = function(selectedStudent, lvl, lsn) {
	   $(".formLoader").css("display", "flex");
    $("#students").css("filter", "blur(2px)");
     var index = $scope.students.findIndex(function(student) {
    return student === selectedStudent;
  });
     postSpan(selectedStudent.mail, lvl, lsn, index)
     $scope.currentUser.modalState.isModalOpen1 = false;
  }
  



//Attendance	
function postPay(mail, nClass, log) {
     var requestData = {
    action: "attendance",
   mail: mail,
   nClass: nClass,
   log: log
  };

  var config = {
    headers: {
      "Content-Type": "text/plain;charset=utf-8"
    },
    followRedirects: true, 
  };
     
$http.post('https://script.google.com/macros/s/AKfycbzuRdRbf_Yy-JUEUm4E2qzvWLm6hquJNhqEGEKecOPLowyjBJU8SS_wQ57W2--XobEA/exec', requestData, config)
   };

	
   $scope.attendance = function(student, selectedDate) {
	   postPay(student.mail, selectedDate, 1)
     student.payed = !student.payed;
     $scope.currentUser.modalState.isModalOpen3 = false;
  }
  
    $scope.absence = function(student, selectedDate) {
	postPay(student.mail, selectedDate, 0)
     student.unpayed = !student.unpayed;
      $scope.currentUser.modalState.isModalOpen3 = false;
  }


//Send whatsapp

$scope.sendWhatsapp = function(phone) {
    if (phone.length === 10 && /^\d+$/.test(phone)) {
        const url = `https://wa.me/521${phone}`;
        window.open(url, '_blank');
    } else {
        alert("Número de teléfono inválido.");
    }
};

	
  $scope.openModal = function(user, modalNumber) {
        $scope.students.forEach(function(student) {
            student.modalState.isModalOpen1 = false;
            student.modalState.isModalOpen2 = false;
          student.modalState.isModalOpen3 = false;
        });

        $scope.currentUser = user;
        if (modalNumber === 1) {
            $scope.currentUser.modalState.isModalOpen1 = true;
        } else if (modalNumber === 2) {
          $scope.currentUser.modalState.isModalOpen2 = true;
        } else if (modalNumber === 3) {
         $scope.currentUser.modalState.isModalOpen3 = true;
        } else if (modalNumber === 4) {
         $scope.currentUser.modalState.isModalOpen4 = true;
        }
    };

    $scope.closeModal = function(modalNumber) {
        if (modalNumber === 1) {
           $scope.currentUser.modalState.isModalOpen1 = false;
        } else if (modalNumber === 2) {
         $scope.currentUser.modalState.isModalOpen2 = false;
        }else if (modalNumber === 3) {
         $scope.currentUser.modalState.isModalOpen3 = false;
        }else if (modalNumber === 4) {
         $scope.currentUser.modalState.isModalOpen4 = false;
        }
    };
   
  
 


	
    
  
  
   $scope.returnDateFormat = function(date){
    const dat = new Date(date);
  const options = { weekday: 'long', month: 'long', day: 'numeric' };
    var dat2 = dat.toLocaleDateString("es-mx",options).replace(",","");
    return dat2.charAt(0).toUpperCase() + dat2.slice(1);
  }
  

    $scope.getCurrentDay = function() {
    var days = ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'];
    var now = new Date();
    return days[now.getDay()];
  };

  $scope.getCurrentHour = function() {
    var now = new Date();
    var hours = now.getHours();
    return hours
  };
  
  

  $scope.filteredStudents = [];
  $scope.noStudentsMessage = '';

  $scope.filterByDay = function() {
    $scope.filteredStudents = $scope.students.filter(function(student) {
      return student.classtime.split(" ")[0] === $scope.getCurrentDay();
    });
     $scope.noStudentsMessage = $scope.filteredStudents.length === 0 ? 'No hay alumnos en este instante.' : '';
  };

  
  $scope.filterByHour = function() {
    $scope.filteredStudents = $scope.students.filter(function(student) {
      return (student.classtime.split(" ")[0] === $scope.getCurrentDay() && parseInt(student.classtime.split(" ")[2].split(":")[0]) === $scope.getCurrentHour());
    });
    $scope.noStudentsMessage = $scope.filteredStudents.length === 0 ? 'No hay alumnos en este instante.' : '';
  };
  
  
  $scope.showAllStudents = function() {
  $scope.filteredStudents = $scope.students;
  $scope.noStudentsMessage = '';
};
   
  $scope.attendanceFilter = function(item) {
  return item.attendance == '';
};

    
   
}]);
 


</script>
